form input
{
    background-color: #f0a4ca;
    color: #3f0532;
    width: 50%;
}

#form {
    height: 0.8rem;
    padding: 0.5rem;
    resize: none;
    background-color: white;
    border: 2px solid rgb(87, 16, 55);
    border-radius: 0.3rem;
}

button
{
    background-color: #f0a4ca;
    color: #3f0532 ;
    border: solid 2px #52082d ;
    padding-left: 2px;
    padding-right: 2px;
    margin: 5px;
    flex-grow: 0;
    padding: 5px;
    border-radius: 0.3rem;
}

.task-text {
    display: flex;
    align-items:left;
    flex:auto;
    flex-direction:row;
    align-items: stretch;
    background-color: #f0a4ca;
    border: solid 2px #52082d ;
    border-radius: 0.3rem;
    margin-right: 490px;
    margin-left: 28px;
    margin-bottom: 5px;
}

.task-text button {
    background-color: #f0a4ca;
    color: #3f0532 ;
    border: solid 2px #52082d ;
    height: 1.8rem;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 12px;
    flex-grow: 0;
    padding: 5px;
    border-radius: 0.3rem;
}

.task-text button:hover{
    background-color: #db7093;
    color: white;
}
