@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('href="https://fonts.googleapis.com/css?family=Fjalla+One|Libre+Baskerville"');
body {
    background-color: #f4d1e2;
    text-indent: 25px;
    word-spacing: 2px;
    text-align: left;
    color: rgb(112, 12, 71);
    font-family: 'Libre Baskerville', serif;
    line-height: 1.2;
    padding: 0px;
}

header, footer {
    background-color: #ed88b9;
    margin: 20px;
    padding: 10px;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
    
}

header h1{
    font-family: "Audiowide", sans-serif;
    color: rgb(112, 12, 71);
    font-size: 50px;
}

.slider-bar {
    margin: 20px;
    padding: 10px;
    background-color: #ed88b9;
    display: flex;
    justify-content: space-between;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}

.slider-bar a {
    width: 100%;
    text-align: center;
}

article{
    background-color: #f1bbd6;
    margin: 20px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}

.city h2 {
    font-size: 35px;  
}

.city-text {
    line-height: 24px;   
}

.transform {
    text-transform: uppercase;
}

.photo {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(116, 31, 73);

}

#contact {
    background-color: #f1bbd6;
    margin: 20px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}

#contact h1 {
    text-align: center;
    color: #75053b;
}

#math {
    background-color: #f1bbd6;
    margin: 20px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    text-align: center;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}

#code {
    background-color: #f1bbd6;
    margin: 20px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
    text-align: center;
    box-shadow: 7px 7px 10px rgb(116, 31, 73);
}